<h1>About me</h1>
<p>I am currently a fifth year Ph.D. student at Computer Science Department in Stony Brook University while working as a research assistant at the Visual Analytics and Imaging (VAI) Lab following Professor <a href="http://www3.cs.stonybrook.edu/~mueller/" target="new">Klaus Mueller</a>.
    I interned at VISA Research during the summer of 2016. Before coming to the US, I obtained both my Master degree in Computer Science and Bachelor degree in Software Engineering at Shandong University, China.</p>

<p> My research interests are in visual analytics, visualization, data mining, machine learning, and high-performance computing on GPUs.<p>