<h1>Publications</h1>
<ul>
{% for p in site.data.publications %}
    <li>
        <p>{{ p.title }}</p>
        <ul>
            {% if p.pdf %}
            <li><a href="{{ p.pdf }}" target="new">pdf</a></li>
            {% endif %}
            {% if p.ppt %}
            <li><a href="{{ p.ppt }}">talk</a></li>
            {% endif %}
            {% if p.doi %}
            <li><a href="{{ p.doi-link }}" target="new">doi</a></li>
            {% endif %}
            {% if p.website %}
            <li><a href="{{ p.website }}" target="new">website</a></li>
            {% endif %}
            {% if p.video %}
            <li><a href="{{ p.video }}" target="new">video</a></li>
            {% endif %}
        </ul>
    </li>
{% endfor %}
</ul>