<h1>Publications</h1>
<ul>
{% for p in site.data.publications %}
    <li><p>{{ p.title }} 
        {% if p.pdf %}
        <a href="{{ p.pdf }}" target="new">pdf</a>
        {% endif %}
        {% if p.ppt %}
        / <a href="{{ p.ppt }}">talk</a>
        {% endif %}
        {% if p.doi %}
        / <a href="{{ p.doi-link }}" target="new">doi</a>
        {% endif %}
        {% if p.website %}
        / <a href="{{ site.baseurl }}/{{ p.website }}">website</a>
        {% endif %}
        {% if p.video %}
        / <a href="{{ p.video }}" target="new">video</a>
        {% endif %}
    </p></li>
{% endfor %}
</ul>