.contact {
    text-align: center;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    img {
        margin: 20px;
    }
    h1 {
        font-size: 2.5em;
    }
    p {
        font-size: 1em;
        line-height: 1.2em;
        color: #666;
    }
    p.email {
        font-size: 1em;
    }
    ul {
        -webkit-padding-start: 0px !important;
        li {
            display: inline;
            margin-right: 10px;
            a {
                text-decoration: none;
                color: #333;
            }
        }
    }
}
