.news {
    margin-top: 20px;
    margin-left: 30px;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    width: 100%;
    h1 {
        font-size: 2em;
        text-align: right;
    }
    >ul {
        padding-left: 0;
        list-style: none;
        >li {
            text-align: left;
            >p {
                font-size: 1.1em;
                line-height: 1.5em;
                margin-bottom: 0.1em;
                margin-top: 0.5em;
            }
        }
    }
}