.projects {
    margin-top: 20px;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    h1 {
        font-size: 2em;
    }
    >i {
        font-size: 0.8rem;
        font-weight: 500;
    }
    .row {
        > .col,
        > [class*="col-"] {
          padding-left: 10px;
          padding-right: 0px;
        }
        .card-block {
            height: 200px;
            padding: 10px;
        }
        
    } 
}