.publications {
    margin-top: 20px;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    h1 {
        font-size: 2em;
        margin-bottom: 20px;
    }
    >ul {
        padding-left: 20px;
        >li {
            >p {
                font-size: 1em;
                line-height: 1em;
                margin-bottom: 0em;
                margin-top: 0.5em;
                text-align: justify;
            }
            >ul {
                padding-left: 0px;
                list-style: none;
                >li {
                    display: inline;
                    margin-right: 25px;
                    a {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}